@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    box-sizing: border-box;
     padding: 10px;
}

* .header {
    font-size: 20px;
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
    padding:15px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    color:white;
}

h1 {
    font-size: 70px;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

h2{
    font-size:40px;
    color:white;
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
}

html {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;    
}



/*initial visual*/

img.maintree {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
 
}




/*PORTFOLIO PAGE*/

h3{
    font-size:20px;
    color:white;
    font-family:'Barlow Condensed', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.harringay {
    background-color : rgb(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    color:rgb(50, 50, 50);
    text-align: center;
    text-align: justify;
    font-family:'Barlow Condensed', sans-serif;

}

.safehouse {
    background-color : rgb(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    color:rgb(50, 50, 50);
    text-align: center;
    text-align: justify;
    font-family:'Barlow Condensed', sans-serif;
}
/*exterior*/ 

img.outsideview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
}

.exteriorvisual {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;
}

/*staircase entrance*/

img.mainentrance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
}

.staircase {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;
}

/*interior*/

img.walkway {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
}

.walkwayvisual {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;

}

/*hub*/

img.reading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.seating {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;
}


/*hub detail*/

img.boxdetail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.detaildrawing {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 375px;
    margin-right: 375px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;
}


/*Axo*/

img.axonometric {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.allfloors {
    background-color : rgb(255, 255, 255, 0.5);
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    text-align: justify;
    font-size: 13px;
    font-family:'Barlow Condensed', sans-serif;
}




/*DESIGN INSPO PAGE*/

.inspiration {
    background-color : rgb(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    color:rgb(50, 50, 50);
    text-align: center;
    text-align: justify;
    font-family:'Barlow Condensed', sans-serif;
}

.casestudy {
    background-color : rgb(255, 255, 255, 0.7);
    text-align: justify;
    font-family:'Barlow Condensed', sans-serif;
    color:rgb(50, 50, 50);
}


.architect {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }


  .pics {
    font-size: 20px;
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
    padding:15px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    color:white;
}


/*ABOUT ME | CONTACT PAGE*/

/*intro paragraph*/ 

.introduction {
    background-color : rgb(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    color:rgb(50, 50, 50);
    text-align: center;
    text-align: justify;
    font-family:'Barlow Condensed', sans-serif;
}

.contact {
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
    padding:15px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    color:rgb(50, 50, 50);
    color:white;
}


.email {
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
    padding:15px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    flex-direction: row;
    color:rgb(50, 50, 50);
}
